{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %}Inicio | {{block.super}} {% endblock %}

<style type="text/css">
      {% block style %}
      	.jumbotron {
      		background-color: #172548 !important;
      		color: #fff !important;
      	}

        /*.fa-5x {*/
/*          font-size: 6em !important;*/
/*        }*/

      {% endblock %}
    </style>


{% block jumbotron %}

{% if request.user.is_staff %}
<h3 class="text-align-center"><strong>Listado de Usuarios</strong></h3>
<hr>
<table class="table table-striped">
 <thead>
  <th>Id</td>
  <th>Email</th>
  <th>Nombre</th>
  <th>Creado</th>  
 </thead>
 <tbody>
{% for instance in queryset %}
<tr>
  <td>{{forloop.counter}}</td>
  <td>{{instance}}</td>
  <td>{{instance.nombre}}</td>
  <td>hace {{instance.timestamp|timesince}}</td>  
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<div class="jumbotron">
<div class="container">
<div class="row">
	<div class="col-sm-6">
        <h1>Developer Projects</h1>
        <p class="lead">Aplicacion Django</p>        
        <p>
          <a class="btn btn-lg btn-primary" href="#" role="button">únete &raquo;</a>
        </p>
 </div>
 <div class="col-sm-6">
 	<iframe width="560" height="315" src="https://www.youtube.com/embed/ChSvnSv_3aw" frameborder="0" allowfullscreen></iframe>
 </div>
</div>
</div>  
</div>  
{% endif %}
{% endblock %}


<!--<h1>Hola mundo</h1> -->
{{ titulo }}<br/>
{{ request.user }}
<hr/>
<br/>

{% block content %}
{% if not request.user.is_staff %}
<div class="row">
	<div class="col-sm-3 col-xs-12 pull-right">
		{% if not user.is_authenticated %}
    <p class="lead text-align-center">Subscribirte</p>    
    <form method="POST" action="" >{% csrf_token %}
    {{ el_form|crispy }}
    <input class="btn btn-primary" type="submit" value="Enviar" />
    </form>
    {% else %}
    <p class="lead text-align-center">{{titulo}}<br><br><br>
      <i class="fa fa-hand-peace-o fa-5x" aria-hidden="true"></i>   
    </p>    
    {% endif %}
</div>

<div class="col-sm-3">
	<p class="lead text-align-center">Developers<br><br>
  <span class="fa-stack fa-4x">
   <i class="fa fa-circle-o-notch fa-stack-2x"></i>
   <i class="fa fa-bullhorn fa-stack-1x" style="color: #47b78c;"></i></i></p>
</div>

<div class="col-sm-3">
	<p class="lead text-align-center">Our Clients</p><img class="img-responsive" src="{% static 'img/nike.jpg' %}">
</div>

<div class="col-sm-3">
	<p class="lead text-align-center">Building Software<br><br>
  <span class="fa-stack fa-4x">
   <i class="fa fa-circle-o-notch fa-spin fa-stack-2x"></i>
   <i class="fa fa-font-awesome fa-stack-1x" style="color: #47b78c;"></i></span></i></p>
</div>
</div>
{% endif %}
{% endblock %}
